.search-bar-container{
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    margin: 10px;
    justify-content: center;
    align-items: space-around;
}

/* .space-around{
    display: flex;
    justify-content: space-between;
    background-color: red;
} */

.align-self-center{
    align-self: center;
}